/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.main-body {
  fill: var(--fill-color);
  transition: fill 0.1s linear;
  cursor: pointer;
}

.core {
  fill: var(--fill-color);
  transition: fill 0.3s 0.03s ease-in-out;
  cursor: pointer;
}

.like-icon.is-liked .contour {
  fill: var(--fill-accenct-color);
  transition: fill 0.3s 0.06s ease-in-out;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-accenct-color);
  transition: fill 0.3s 0.06s ease-in;
}

.like-icon.is-liked .core {
  fill: var(--fill-accenct-color);
  transition: fill 0.3s 0.06s ease-in-out;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heartbeat 0.3s  ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: heartsparks 0.3s ease-in;
  animation-delay: 0.3s;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes heartsparks {
  100% {
    fill: var(--fill-accenct-color);
  }
}

