/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  align-items: center;
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  font-family: var(--font-family, 'Arial'), sans-serif;
  font-size: 18px;
  background-image: var(--back-img);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 100px;
}

.block-outline {
  border: var(--border);
}

.img__block-outline {
  border-top: var(--border);
  border-bottom: var(--border);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 100px;
  font-family: var(--font-family-accent, 'Arial'), sans-serif;
  background-color: #fff;
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
}

.header__heading {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.card__title {
  padding-inline: var(--padding-inline);
  padding-block-start: var(--padding-card-top);
  padding-block-end: 5px;
  font-family: var(--font-family, 'Arial'), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.card__img-block {
  position: relative;
  margin: 0;
  overflow: hidden;
  line-height: 0;
  background-color: transparent;
}

.card__img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card__img-label {
  content: "";
  position: absolute;
  opacity: 50%;
  font-family: var(--font-family-accent, 'Arial'), sans-serif;
  font-size: 14px;
  text-shadow: -1px -1px 0 var(--shadow-color),
                1px -1px 0 var(--shadow-color),
               -1px 1px 0 var(--shadow-color),
                1px 1px 0 var(--shadow-color);
  -webkit-background-clip: text;
  inset-inline-end: clamp(0.6875rem, 0.3354rem + 1.5023vw, 1.6875rem);
  inset-block-start: 33px;
  mix-blend-mode: hard-light;
}

.card__img__filter-grayscale {
  filter: grayscale(0.75);
}

.card__img__filter-saturate {
  filter: saturate(4);
}

.card__img__filter-saturatehue-rotate {
  filter: hue-rotate(25deg);
}

.card__img__filter-invert {
  filter: invert(0.75);
}

.card__img__filter-sepia {
  filter: sepia(90%);
}

.card__img__filter-blur {
  filter: blur(0.75rem);
}

.card__img__filter-mix {
  filter: invert(0.75) hue-rotate(-96deg) saturate(3) contrast(0.4);
}

.card__paragraph {
  padding-inline: 25px;
  padding-block-start: 25px;
  font-family: var(--font-family, 'Arial'), sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-weight-normal);
}

.card .card__paragraph:last-of-type {
  padding-block-start: 27px;
}

.botton-floppy {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-end: 105px;
  padding: 0;
  padding-inline: 19px;
  line-height: 90%;
  inline-size: 339px;
  block-size: 55px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100%;
  margin-block: 25px;
}

.button__text {
  display: block;
  color: #fff;
  font-family: var(--font-family-accent, 'Arial'), sans-serif;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  mix-blend-mode: difference;
}

.card__icon-button {
  /* align-self: center; */
  width: 37px;
  height: 34px;
}
 
.floppy-icon {
  color: #fff;
  mix-blend-mode: difference;
}

/********************************************** Диалоговое окно*********************** */

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog {
  position: fixed;
  max-width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  height: 191px;
  border: var(--border);
  padding: 0;
  font-family: var(--font-family-accent, 'Arial'), sans-serif;
  line-height: 150%;
  background-color: #fff;
  padding-inline: clamp(1.875rem, 2.7201rem + -0.939vw, 2.5rem); /*40px 30px;*/
  padding-block: 30px;
 }

.form-dialog {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 20px;
  row-gap: 30px;
  width: 100%;
  height: 100%;
  align-content: space-between;
}

.dialog__title {
  grid-column: 2/ span2;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  text-align: start;
  text-transform: uppercase;
  width: 100%;
}

.dialog .button {
  grid-column: 1/ span2;
  justify-self: start;
  align-self: center;
  height: 38px;
  font-size: 14px;
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
}

.dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog .floppy-icon {
  align-self: center;
  width: 39px;
  height: 39px;
}

@media (width <= 375px) {
  .botton-floppy {
    flex-direction: column;
    block-size: 84px;
    inline-size: 310px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .card__title {
    padding-block-end: 6px;
  }
}

/********************************************** end Диалоговое окно*********************** */

.card__like-button {
  align-content: center;
  margin-inline-end: 25px;
  cursor: pointer;
  inline-size: 130px;
  block-size: 38px;
}

.button {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transform:  translateX(0);
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform:  translateX(-101%);
  /* transform: scaleX(0);
  transform-origin: 0px center; */
}

.button:hover::before {
  transform: translateX(0);
  /* transform: scaleX(1); */
}

 .button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0px  rgb(0 0 0 / 1);
  transition: box-shadow 0.3s ease-in-out;
  transform-origin: 0 0;
}

.card__icon-button:focus-visible {
  outline: var(--border);
  transition: outline 0.3s ease;
}

.heart:hover .main-body {
  fill: var(--fill-contour-color);
  transition: fill 0.3s 0.05s ease-in-out;
  cursor: pointer;
}

.heart:hover .core {
  fill: var(--fill-contour-color);
  transition: fill 0.3s ease-in-out;
  cursor: pointer;
}

.heart:active .main-body {
  fill: var(--fill-accenct-color);
  transition: fill 0.3s 0.05s ease-in-out;
  cursor: pointer;
}

.heart:active .core {
  fill: var(--fill-accenct-color);
  transition: fill 0.3s ease-in-out;
  cursor: pointer;
}

@supports((text-stroke: 2px var(--shadow-color)) or (-webkit-text-stroke: 2px var(--shadow-color))) {
  .card__img-label {
    -webkit-text-stroke:  2px var(--shadow-color);
    text-stroke: 2px var(--shadow-color);
    text-shadow: none;
    paint-order: stroke fill;
  }
}
