/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background-color: #fff;
  --font-family-accent: 'PressStart2P';
  --font-family: 'Inter-Variable';
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --gradient-color: #d3d3d3;
  --gradient-color-start: #e7e7e7;
  --gradient-color-end: #1a1a1a;  
  --padding-card-top: clamp(0.25rem, 0.2679rem + -0.0893vw, 0.1875rem); /*4px 3px*/
  --padding-card-right: clamp(0.625rem, 0.375rem + 1.25vw, 1.5rem); /* 10px 24px*/
  --padding-card-bottom: clamp(0.375rem, 0.4286rem + -0.2679vw, 0.1875rem); /*6p 3px*/ 
  --padding-card-left: clamp(0.75rem, 0.7857rem + -0.1786vw, 0.625rem); /*12px 10px*/  
  --shadow-color: #fff;
}